.modal--overlay{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0px 20px;
}
.modal--container{
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    background-color: rgb(43, 43, 43);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    color: white;
}

.modal--container img{
    width: 200px;
    object-fit: cover;
}
.modal--right{
    width: 100%;
}
.modal--close{
    position: fixed;
    font-size:26px;
    top: 0px;
    right: 8px;
    cursor: pointer;
}
.modal--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 2rem;
}
.modal--content h3{
    border-bottom: 2px solid rgb(189, 185, 185);
    padding: .25rem;
    color: rgb(223, 122, 6);
}
.modal--content h4{
    padding: .25rem;
    text-align: start;
}
.modal--content p{
    font-size: small;
    text-align: start;
}
.modal--buttons{
 display: flex;
 justify-content: space-evenly;
 padding: .5rem;
}
.modal--buttons button{
    width: 30%;
    margin: .5rem;
    padding: 10px 0;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all .200s ease-out;
}

.modal--primery--btn{
 background-color: rgb(218, 143, 5);
 border: none;
}
.modal--primery--btn:hover{
    background-color:rgb(207, 138, 9); ;
    transform: scale(.9);
    
}
.modal--primery--btn-link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.modal--secondary--btn{
    background-color: rgb(44, 44, 44);
    border: 2px solid  rgb(218, 143, 5);
}
.modal--secondary--btn:hover
{
    transform: scale(.9);
}

@media screen and (max-width:640px) {
    .modal--container{
        max-width:200px;
        flex-direction: column;
        top: 60%;
    }
    .modal--content{
        margin-top:0;
    }
    .modal--buttons button{
        width: 50%;
        text-align: center;
        padding: 5px;
        color: white;
        font-size: 12px;
    }
    .modal--content h4{
        text-align: center;
    }
    .modal--content p{
        text-align: center;
        padding: 2px;
    }
    .modal--container img{
        width: 100%;
        object-fit: cover;
    }
}